<launch>
    <!-- LRR Driver -->
    <!-- Mote Base is already started -->

    <!-- <include file="$(find mote_base)/launch/mote.launch">
        QUESTION 0.1 BEGINS
        <arg name="gyro_bias_x" value="0.01"/>
        <arg name="gyro_bias_y" value="-0.010"/>
        <arg name="gyro_bias_z" value="-0.01"/>
        QUESTION 0.1 ENDS
    </include> -->

    <!-- Provide the map using Map Server -->
    <arg name="map_file" default="$(find hw3_pkg)/maps/pleasepleasepleasepleaseplease.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"/>

    <!-- Foxglove visualization -->
    <include file="$(find mote_viz)/launch/viz.launch" />

    <!-- Your particle filter node -->
    <node pkg="hw3_pkg" type="pf_node.py" name="particle_filter" output="screen"></node>
</launch>